{# How Can We Partner Band #}

{# Heading #}
<p class="mx-auto mt-5 max-w-prose font-rubik tracking-tight text-4xl text-center pt-24">
  How can we partner with you?
</p>
<p class="mx-auto mt-5 max-w-prose text-xl font-rubik uppercase text-center">
  Allocate CSR spend to a trusted initiative and together we can drive social
  change and impact.
</p>
{# End | Heading #}

{# Section 1 - Sponsorship #}
<section class="mx-10">
  <div class="my-10 lg:mx-auto max-w-5xl z-10 px-4 sm:px-6 lg:px-8 md:bg-alf-nav-blue pt-5 md:bg-opacity-10 rounded-3xl">
    {# Programme Grid #}
    <div class="grid grid-cols-1 md:gap-y-10 gap-y-4 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-4 xl:translate-x-24">
      {# Heading #}
      {% set numberOne = '/images/One.svg' %}
      <div class="flex flex-col pt-10 pb-5">
        <div>
          <hr class="bg-alf-dark-blue h-0.5 border-0" />
        </div>
        <div class="flex flex-row my-10 mx-2 items-start">
          <div class="flex-shrink">
            <img src="{{ numberOne }}" />
          </div>
          <div class="flex-1 px-10 text-2xl font-rubik">
            <h1>
              Sponsor a Foundation learner onto one of our programmes:
            </h1>
          </div>
        </div>
        <div>
          <hr class="bg-alf-dark-blue h-0.5 border-0" />
        </div>
      </div>
      {# End | Heading #}

      {# Items #}
      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl lg:my-10 my-5 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <h3 class="text-xl font-medium font-rubik">
            Academy: Maths, Science or Robotics
          </h3>
          <p class="mt-4 text-base font-rubik">
            R11952.00 (Year long program)
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl lg:my-10 my-5 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <h3 class="text-xl font-medium font-rubik">
            Academy: Maths, Science or Robotics
          </h3>
          <p class="mt-4 text-base font-rubik">
            R11952.00 (Year long program)
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl lg:my-10 my-5 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <h3 class="text-xl font-medium font-rubik">
            Academy: Maths, Science or Robotics
          </h3>
          <p class="mt-4 text-base font-rubik">
            R11952.00 (Year long program)
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl lg:my-10 my-5 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <h3 class="text-xl font-medium font-rubik">
            Academy: Maths, Science or Robotics
          </h3>
          <p class="mt-4 text-base font-rubik">
            R11952.00 (Year long program)
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl lg:my-10 my-5 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <h3 class="text-xl font-medium font-rubik">
            Academy: Maths, Science or Robotics
          </h3>
          <p class="mt-4 text-base font-rubik">
            R11952.00 (Year long program)
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
      {# End | Items #}
    </div>
    {# End | Programme Grid #}
  </div>
</section>
{# End | Section 1 - Sponsorship #}

{# Section 2 - Tertiary Scholarship #}
<section class="ml-10 lg:mx-10">
  <div class="my-20 max-w-6xl lg:mx-auto z-10 px-4 sm:px-6 lg:px-8 bg-alf-white rounded-l-3xl rounded-r-none lg:rounded-r-3xl">
    {# Programme Grid #}
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-2 lg:gap-x-4 xl:-translate-x-24">
      <div class="invisible h-0 lg:h-auto lg:visible col-span-1 row-span-2">
        {% set jump = '/images/Jump.svg' %}
        <img src="{{ jump }}" />
      </div>

      {# Heading #}
      {% set numberTwo = '/images/Two.svg' %}
      <div class="flex flex-col py-20 col-span-1 lg:col-span-2">
        <div>
          <hr class="bg-alf-dark-blue h-0.5 border-0" />
        </div>
        <div class="flex flex-row my-10 mx-2 items-start">
          <div class="flex flex-col">
            <div class="flex-grow">
              <img src="{{ numberTwo }}" />
            </div>
            <div class="flex-shrink lg:hidden lg:h-0 -translate-x-8">
              <img src="{{ jump }}" class="max-h-56" />
            </div>
          </div>

          <div class="flex-1 px-5 text-2xl font-rubik">
            <h1>
              Allocate a tertiary scholarship to a Foundation learner that
              fulfills your requirements after having worked through our
              multi-year programmes and proven their potential.
            </h1>
          </div>
        </div>
        <div>
          <hr class="bg-alf-dark-blue h-0.5 border-0" />
        </div>
      </div>
      {# End | Heading #}

      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl my-10 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <p class="mt-4 text-base font-rubik">
            Are you a private individual that wants to support our mission and
            sponsor a Foundation learner?
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <div class="flex flex-col bg-alf-white rounded-2xl shadow-xl my-10 mx-2">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-alf-dark-blue rounded-xl shadow-lg transform -translate-y-1/2">
            <svg class="h-6 w-6 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
            </svg>
          </div>
          <p class="mt-4 text-base font-rubik">
            Are you an NGO that is looking for a teaching and learning partner
            for your learners?
          </p>
        </div>
        <div class="p-6 bg-alf-blue rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="#" class="text-base font-medium font-rubik">
            Contact us<span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  {# End | Programme Grid #}
</section>
{# End | Section 2 - Tertiary Scholarship #}

{# Section 3 - Information #}
<section class="px-10">
  <div class="my-10 max-w-6xl lg:mx-auto z-10 px-4 sm:px-6 lg:px-8 bg-alf-nav-blue pt-5 bg-opacity-10 rounded-3xl">
    {# Content Grid #}
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-12 lg:gap-y-0 lg:gap-x-4 items-center align-middle pb-5">
      <div class="col-span-8 font-rubik text-2xl font-thin px-3 text-left">
        <p>
          Funders of learners onto AdvantageLearn.com educational programmes via
          the Advantage Learn Foundation automatically qualify for
          AdvantageLearn.com’s highest partner discounts (discount structures
          vary per product line from 15-40%) via the AdvantageLearn.com impact
          mandate.
        </p>
        <br />
        <p>
          A further 5% discount is extended to organizational funders that are
          able to produce a Section 18A certificate in favour of
          AdvantageLearn.com.
        </p>
      </div>
      {% set percentage = '/images/Percentage.svg' %}
      <div class="col-span-4 row-start-1 lg:col-start-9 mx-auto">
        <img src="{{ percentage }}" />
      </div>
    </div>

    <div class="font-rubik text-2xl font-semibold text-center">
      <hr class="bg-alf-dark-blue h-0.5 border-0" />
      <p class="py-5">
        If you want to get involved via any of the above mentioned avenues or in
        other ways please reach out to us and let’s join hands in building a
        better South Africa for all through the power of education.
      </p>
    </div>
  </div>
  {# End | Content Grid #}
</section>
{# End | Section 3 - Information #}
<br />
{# End | How Can We Partner Band #}
