{# Organizations Band #}
<link rel="stylesheet"
  href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% set organisations = craft.entries.section('organisations').one() %}
{# Outer container #}
<div class="my-16 bg-alf-green">
<a id="our-partners">
  {# Inner container #}
  <div class="max-w-7xl mx-auto px-6 sm:px-8 md:px-12 lg:px-16 py-12 sm:py-20">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="text-left sm:text-center md:max-w-2xl md:mx-auto lg:col-span-5 lg:text-left lg:pl-8 mt-auto mb-auto">
        {# Title #}
        
          <h1 class="block font-rubik text-4xl">
            {{ organisations.organisationsTitle }}
          </h1>
     

        {# Text #}
        <p class="font-light font-rubik mt-8 text-left sm:text-center sm:text-xl lg:text-left sm:mt-5 lg:block lg:pb-0 lg:text-lg">
          {{ organisations.organisationsParagraph }}
        </p>
      </div>

      {# Image #}
      {% set image = organisations.organisationBandImage.one() %}
      <div class="mt-16 sm:mt-26 flex justify-center relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center lg:justify-center">
        <img src="{{ image.url }}" alt="{{ image.alt }}" />
      </div>
      {# End | Image #}
    </div>

    
    <div class="org-carousel py-10">
      {% set orgs = organisations.organisationInfo.all() %}
      {% for org in orgs %}
      {% set logo = org.orgImage.one() %}
        <div class="carousel-cell px-5">
          <div class="flex flex-col flex-shrink-0 relative w-full md:w-72 bg-alf-white rounded-xl">
            <img src="{{ logo.url }}" class="py-10 mx-auto h-40" alt="{{ logo.alt }}" />
            <hr class="bg-alf-dark-green h-0.5 border-0" />
            <h1 class="font-rubik text-2xl pb-5 px-10 py-4">
              {{ org.orgName }}
            </h1>
            <p class="font-rubik px-10">
              {{ org.orgDescription }}
            </p>
            <a href={{org.linkToSite}}
              class="px-2 mx-auto w-2/3 max-w-md mt-8 py-3 mb-8 text-base rounded-md bg-alf-green border border-alf-dark-green text-center shadow hover:underline">
              Go to Partner Site
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {# End | Inner container #}
  </a>
</div>
{# End | Outer container #}
{# End | Organizations Band #}

<script>
  var elem = document.querySelector('.org-carousel'); var flkty = new Flickity(
  elem, { cellAlign: 'left', contain: true, wrapAround:true, autoPlay:10000 });

  flkty = new Flickity( '.org-carousel', {

  });
</script>
