{# Reach and Impact Band #}
{% set reachAndImpact = craft.entries.section('reachAndImpact').one() %}
<div class="max-w-4xl mx-auto mt-64">
  {# Title #}
  <h2 class="font-rubik text-3xl text-center sm:text-3xl lg:text-3xl">
    {{ reachAndImpact.reachAndImpactTitle }}
  </h2>

  {# Text #}
  <div class="flex flex-col items-center">
    <p class="mt-8 font-rubik text-xl max-w-3xl text-center">
      {{ reachAndImpact.reachAndImpactSubtitle }}
    </p>
    <p class="mt-8 font-rubik font-semibold text-xl max-w-3xl text-center">
      {{ reachAndImpact.reachAndImpactStatsHeading }}
    </p>
  </div>

  {# Stats #}
  {% set statsLock = '/images/statslock.svg' %}
  <div class="grid gap-24 md:gap-0 grid-cols-2 md:grid-cols-6 mx-12 my-5 md:mx-10">
    {# Bring in Reach and Impact matrix field #}

    {% set stats = reachAndImpact.reachStats.all() %}

    {# Loop over all stats in Matrix field #}
    {% for stat in stats %}
      <div class="md:col-span-2 flex flex-col items-center">
        <div class="flex-1 py-4 w-44 my-auto">
          <img src="{{ statsLock }}" />
        </div>
        <div class="text-center">
          <p class="font-rubik font-semibold">
          {{stat.statNumber}}
          </p>
          <p>
           {{stat.statDescription}}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  {# End | Stats #}
</div>
{# End | Reach and Impact Band #}
