{# Reach and Impact Band #}
<div class="max-w-3xl mx-auto mt-64">
  {# Title #}
  <h2 class="font-rubik text-3xl text-center sm:text-3xl lg:text-3xl">
    Reach & Impact
  </h2>

  {# Text #}
  <div class="flex flex-col items-center">
    <p class="mt-8 font-rubik text-xl max-w-3xl text-center">
      The foundation has already impacted 70 learners and 18 educators in 2021
      alone, our founding year!
    </p>
    <p class="mt-8 font-rubik font-semibold text-xl max-w-3xl text-center">
      Imagine what we could do with your help!
    </p>
  </div>

  {# Stats #}
  {% set statsLock = '/images/statslock.svg' %}
  <div class="grid gap-24 md:gap-0 grid-cols-2 md:grid-cols-6 mx-12 my-5 md:mx-10">
    <div class="md:col-span-2 flex flex-col items-center">
      <div class="flex-1 py-4 w-44 my-auto">
        <img src="{{ statsLock }}" />
      </div>
      <div class="text-center">
        <p class="font-rubik font-semibold">
          5735
        </p>
        <p>
          Active learners
        </p>
      </div>
    </div>
    <div class="md:col-span-2 flex flex-col items-center">
      <div class="flex-1 py-4 w-44 my-auto">
        <img src="{{ statsLock }}" />
      </div>
      <div class="text-center">
        <p class="font-rubik font-semibold">
          5735
        </p>
        <p>
          Active learners
        </p>
      </div>
    </div>
    <div class="md:col-span-2 flex flex-col items-center">
      <div class="flex-1 py-4 w-44 my-auto">
        <img src="{{ statsLock }}" />
      </div>
      <div class="text-center">
        <p class="font-rubik font-semibold">
          5735
        </p>
        <p>
          Active learners
        </p>
      </div>
    </div>
    <div class="md:col-span-2 md:col-start-2 flex flex-col items-center">
      <div class="flex-1 py-4 w-44 my-auto">
        <img src="{{ statsLock }}" />
      </div>
      <div class="text-center">
        <p class="font-rubik font-semibold">
          5735
        </p>
        <p>
          Active learners
        </p>
      </div>
    </div>
    <div class="col-span-2 md:col-start-4 flex flex-col items-center">
      <div class="flex-1 py-4 w-44 2 my-auto">
        <img src="{{ statsLock }}" />
      </div>
      <div class="text-center">
        <p class="font-rubik font-semibold">
          5735
        </p>
        <p>
          Active learners
        </p>
      </div>
    </div>
  </div>
  {# End | Stats #}
</div>
{# End | Reach and Impact Band #}
