{# Reach and Impact Band #}
<div>
  {# Bring in the reach and impact entry from the Craft admin section #}
  {% set reachAndImpact = craft.entries.section('reachAndImpact').one() %}

  {# Content Container #}
  <div class="max-w-4xl mx-auto mt-64">

    {# Title #}
    <h2 class="font-rubik text-3xl text-center sm:text-3xl lg:text-3xl px-2 uppercase">
      {{ reachAndImpact.titleText }}
    </h2>

    {# Text #}
    <div class="flex flex-col items-center">
      <p class="mt-8 font-rubik text-xl max-w-lg text-center px-2 text-alf-grey">
        {{ reachAndImpact.subtitleText }}
      </p>
      <p class="mt-8 font-rubik font-semibold text-xl max-w-3xl text-center text-alf-grey px-2">
        {{ reachAndImpact.secondaryHeading }}
      </p>
    </div>

    {# Stats Grid #}
    <div class="grid gap-2 md:gap-0 grid-cols-1 md:grid-cols-3 mx-12 my-5 md:mx-10">

      {# Bring in Reach and Impact matrix field #}
      {% set stats = reachAndImpact.reachStats.all() %}
      
      {# Loop over all stats in Matrix field #}
      {% for stat in stats %}

        {# Setting the image for the stat #}
        {% set image = stat.statImage.one() %}

          {# Displaying the stat #}
          <div class="flex flex-col items-center ">

            {# Stat Image #}
            <div class="flex-1 py-4 w-44 my-auto">
              <img src="{{ image.url }}" alt="{{ image.alt }}" />
            </div>

            {# Stat Content#}
            <div class="text-center flex flex-col justify-start md:px-8">

              {# Stat Number #}
              <p class="font-rubik font-semibold text-2xl">
                {{ stat.statNumber }}
              </p>

              {# Stat Description #}
              <p class="text-center mx-auto w-24 text-alf-grey">
                {{ stat.statDescription }}
              </p>
            </div>
            {# End | Stat Content#}

          </div>
          {# End | Displaying the stat #}
      
      {% endfor %}

    </div>
    {# End | Stats Grid #}

  </div>
  {# End | Content Container #}
  
</div>
{# End | Reach and Impact Band #}