{# What we do Band #}
{# Outer container #}
<div class="bg-alf-nav-blue translate-y-20">
  {# Inner container #}
  {% set whatWeDo = craft.entries.section('whatWeDo').one() %}

  {# Top of Band Styling #}
  {% set whatWeDoStyling = '/images/what_we_do_Styling.svg' %}
  <div class="flex flex-col justify-center items-center -translate-y-10 sm:-translate-y-20 w-auto">
    <img src="{{ whatWeDoStyling }}" />
  </div>
  {# End | Top of Band Styling #}

  <div class="max-w-7xl mx-auto px-6 pb-12 pt-4 sm:pt-8 sm:px-8 md:px-12 lg:px-16 lg:pt-4">
    {# Title #}
    <h2 class="font-rubik text-4xl text-center sm:text-3xl lg:text-3xl">
      {{ index.whatWeDoTitle }}
    </h2>

    {# Text #}
    <div class="flex flex-col items-center">
      <p class="mt-8 font-rubik text-alf-white text-2xl max-w-3xl text-center">
        {{ index.whatWeDoSubtitle }}
      </p>
    </div>

    {# What We Do Styling (Mobile) #}
    {% set smallStudent = '/images/smallstudent.svg' %}
    <div class="lg:invisible lg:h-0 flex flex-col justify-center items-center pt-6 translate-y-6">
      <img src="{{ smallStudent }}" />
    </div>
    {# End | What We Do Styling (Mobile) #}

    {# What We Do Cards #}
    <div class="max-w-7xl mx-auto">
      {% set lock = '/images/lock.png' %}

      {# Content grid #}
      <div class="grid my-4 grid-cols-1 lg:grid-cols-12 items-stretch font-rubik overflow-visible">
        {# Content container #}

        <div class="py-2 lg:pt-16 px-2 rounded-lg lg:col-span-5 flex flex-col lg:flex-row">
          <div class="flex-shrink bg-alf-blue lg:py-20 py-5 px-5 w-full rounded-t-xl lg:rounded-t-none lg:rounded-l-xl">
            <img src="{{ lock }}" class="mx-auto" />
          </div>
          <div class="flex-initial pl-6 pr-6 pt-4 rounded-b-xl lg:rounded-b-none lg:rounded-r-xl bg-alf-white">
            <h2 class="font-semibold pb-4">
              {{ whatWeDo.item1Heading }}
            </h2>
            <p class="pb-4">
              {{ whatWeDo.item1Content }}
            </p>
          </div>
        </div>

        <div class="py-2 lg:pt-16 px-2 lg:rounded-lg lg:col-span-4 flex flex-col lg:flex-row">
          <div class="flex-shrink bg-alf-blue lg:py-20 py-5 px-5 w-full rounded-t-xl lg:rounded-t-none lg:rounded-l-xl">
            <img src="{{ lock }}" class="mx-auto" />
          </div>
          <div class="flex-initial pl-6 pr-6 pt-4 rounded-b-xl lg:rounded-b-none lg:rounded-r-xl bg-alf-white">
            <h2 class="font-semibold pb-4">
               {{ whatWeDo.item2Heading }}
            </h2>
            <p class="pb-4">
               {{ whatWeDo.item2Content }}
            </p>
          </div>
        </div>

        <div class="py-2 lg:pb-16 px-2 rounded-lg lg:col-span-4 flex flex-col lg:flex-row">
          <div class="flex-shrink bg-alf-blue lg:py-20 py-5 px-5 w-full rounded-t-xl lg:rounded-t-none lg:rounded-l-xl">
            <img src="{{ lock }}" class="mx-auto" />
          </div>
          <div class="flex-initial pl-6 pr-6 pt-4 rounded-b-xl lg:rounded-b-none lg:rounded-r-xl bg-alf-white">
            <h2 class="font-semibold pb-4">
               {{ whatWeDo.item3Heading }}
            </h2>
            <p class="pb-4">
              {{ whatWeDo.item3Content }}
            </p>
          </div>
        </div>

        <div class="py-2 lg:pb-16 px-2 rounded-lg lg:col-span-5 flex flex-col lg:flex-row">
          <div class="flex-shrink bg-alf-blue lg:py-20 py-5 px-5 w-full rounded-t-xl lg:rounded-t-none lg:rounded-l-xl">
            <img src="{{ lock }}" class="mx-auto" />
          </div>
          <div class="flex-initial pl-6 pr-6 pt-4 rounded-b-xl lg:rounded-b-none lg:rounded-r-xl bg-alf-white">
            <h2 class="font-semibold pb-4">
                {{ whatWeDo.item4Heading }}
            </h2>
            <p class="pb-4">
                {{ whatWeDo.item4Content }}
            </p>
          </div>
        </div>
        {# End | Content container #}

        {# Styling - Student Holding Book (Desktop) #}
        {% set student = '/images/student.svg' %}
        <div class="invisible h-0 lg:visible lg:h-auto py-2 self-center px-2 w-auto lg:row-span-2 lg:col-span-3 lg:row-start-1 lg:col-start-10 lg:-translate-x-16 -z-10">
          <img src="{{ student }}" />
        </div>
        {# End | Styling - Student Holding Book (Desktop) #}
      </div>
      {# End | Content grid #}
    </div>
    {# End | What We Do Cards #}
  </div>
  {# End | Inner container #}

  {# Bottom of Band Styling #}
  <div class="flex flex-col justify-center items-center translate-y-10 sm:translate-y-20">
    <img src="{{ whatWeDoStyling }}" />
  </div>
  {# End | Bottom of Band Styling #}
</div>
{# End | Outer container #}
{# End | What we do Band #}
