{# Who We Are Band #}
{# Styling Wrapper #}
<a id="who-we-are">
  <div>
    {% set whoWeAreStyling = index.whoWeAreStyling.one() %}
    <img src="{{ whoWeAreStyling.url }}"
      alt="Styling"
      class="invisible h-0 lg:visible lg:h-fit absolute" />

    {% set whoWeAreStylingMobile = index.whoWeAreStylingMobile.one() %}
    <img src="{{ whoWeAreStylingMobile.url }}"
      alt="Styling"
      class="visible h-auto lg:invisible lg:h-0 absolute" />

    {# Outer container #}

    <div class="mx-10 lg:pt-24 my-5">
      {# Inner container #}
      <div class="max-w-6xl mx-auto">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
          {# Lock and Key Image #}
          {% set lockAndKey = index.whoWeAreImage.one() %}

          <div class="mt-16 sm:mt-26 flex justify-center sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center lg:justify-center z-10 px-10 pb-10">
            <img src="{{ lockAndKey.url }}" alt="lock and key Image" />
          </div>
          {# End | Lock and Key Image #}

          {# Floor Styling - Mobile #}
          <div class="lg:h-0 lg:invisible bg-alf-blue md:row-start-2 col-start-1 col-span-12 h-14 -translate-y-20 rounded-3xl relative -z-10"></div>

          <div class="text-left sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
            {# Title #}
            <h1 class="block font-rubik text-4xl">
              {{ index.whoWeAreTitle }}
            </h1>

            {# Text #}
            <p class="font-light font-rubik text-left sm:text-center sm:text-xl lg:text-left sm:mt-5 lg:block lg:pb-0 lg:text-lg">
              {{ index.whoWeAre1 }}
            </p>
            {# Text #}
            <p class="font-light font-rubik text-left sm:text-center sm:text-xl lg:text-left sm:mt-5 lg:block lg:pb-0 lg:text-lg">
              {{ index.whoWeAre2 }}
            </p>
          </div>

          {# Floor Styling - Desktop #}
          <div class="invisible lg:h-24 lg:visible bg-alf-blue md:row-start-2 col-start-1 col-span-12 h-24 -translate-y-28 rounded-3xl"></div>
        </div>
      </div>
      {# End | Inner container #}
    </div>

    {# End | Outer container #}
    {# End | Who We Are Band #}
  </div>
</a>
{# End | Styling Wrapper #}
