{% extends "/globals/base.twig" %}

{% block content %}

	{% set heroStyling = "/images/HeroStyling.png" %}
	{% set lockAndKey = "/images/lockAndKey.png" %}

	<main class="relative ">
		{# Hero Band #}
		{# Outer container #}
			<div
			class="my-10 ml-10 xl:ml-40  lg:ml-24 md:ml-16"> {# Inner container #}
			<div class="max-w-7xl rounded-l-2xl xl:rounded-r-2xl mx-auto px-6 sm:px-8 md:px-12 lg:px-16 py-12 sm:py-20 bg-alf-blue">

				<div class="lg:grid lg:grid-cols-12 lg:gap-8">

					<div
						class="text-left sm:text-center md:max-w-2xl md:mx-auto lg:col-span-5 lg:text-left lg:pl-8">

						{# Hero Title #}
						<h1 class="block font-rubik text-4xl">
							Hero title lorem ipsum dolor sit amet, consectetur adipis
						</h1>

						{# Hero Subtitle #}
						<p class="hidden font-light font-rubik mt-8 sm:py-6 text-left sm:text-center sm:text-xl lg:text-left sm:mt-5 lg:block lg:pb-0 lg:text-lg">
							Providing under-resourced learners and educators in Africa with access to high-quality digital education in S.T.E.M.
						</p>

						{# Button #}
						<a href="" class="hidden mt-8 px-6 py-3 font-rubik text-base font-bold rounded-md bg-alf-nav-blue text-alf-white shadow hover:underline w-full md:w-fit md:px-16 lg:block">
							Go to advantagelearn.com
						</a>

					</div>

					{# Hero Image  #}
					{% set heroImage = "/images/HeroImage.png" %}
					<div class="mt-16 sm:mt-26 flex justify-center relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center lg:justify-center">
						<img src="{{heroImage}}" alt="Hero Image">
					</div>
					{# End | Hero Image #}

					{# Subtitle and Button for mobile and tablet #}
					<div
						class="flex flex-col items-center lg:hidden">

						{# Subtitle #}
						<p class="py-4 max-w-2xl text-left sm:text-center lg:text-left sm:mt-5 sm:text-xl mt-8 lg:pb-0 lg:text-lg xl:text-xl">
							Providing under-resourced learners and educators in Africa with access to high-quality digital education in S.T.E.M.
						</p>

						{# Button #}
						<a href="" class="mx-auto w-full max-w-md mt-8 px-6 py-3 text-base font-bold rounded-md bg-alf-nav-blue text-alf-white text-center shadow hover:underline ">
							Go to advantagelearn.com
						</a>

					</div>
					{# End | Subtitle and Button for mobile and tablet #}

				</div>

			</div>
			{# End | Inner container #}
		</div>
		{# End | Outer container #}
		{# End | Hero Band #}

		{# Who we are Band #}
			<div
			class="relative"> {# Internal anchor link #}
			<div class="absolute"></div>

			<div
				class="max-w-7xl mx-auto lg:px-8">

				{# Grid container #}
				<div
					class="lg:grid lg:grid-cols-12">

					{# Outer image container #}
					<div
						class="relative lg:col-start-1 lg:row-start-1 lg:col-span-5 lg:py-16 lg:items-start z-10">

						{# Visual spacer for <lg screens #}
						<div class="absolute inset-x-0 h-1/2 lg:hidden" aria-hidden="true"></div>

						{# Inner image container #}
						<div class="max-w-md mx-auto px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
							<div
								class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">

								{# Bring in the image associated with the respective field, accessible via the image variable #}
								{% set lockAndKey = "/images/lockAndKey.png" %}

								<img class="object-cover object-left" src="{{lockAndKey}}">

							</div>
						</div>
						{# End | Inner image container #}

					</div>
					{# End | Outer image container #}

					{# Text container #}
					<div
						class="relative lg:col-start-3 lg:row-start-1 lg:col-span-10 lg:rounded-3xl lg:grid lg:grid-cols-10 lg:items-start lg:py-10">


						{# Text #}
						<div
							class="font-rubik relative max-w-md mx-auto py-6 px-4 sm:max-w-3xl sm:py-20 sm:px-6 lg:max-w-none lg:row-start-1 lg:p-0 lg:col-start-5 lg:col-span-6 translate-y-8">

							{# Title #}
							<h1 class="text-4xl tracking-tight font-semibold pb-6 sm:text-5xl xl:text-4xl" id="join-heading">
								WHO WE ARE
							</h1>

							{# Paragraph Text #}
							<p class="text-lg pb-6">
								The Advantage Learn Foundation was formed under directive from Advantage Learn in order to leverage the resources and skills in Advantage Learn to drive impact and positive social change.
							</p>

							<p class="text-lg pb-6">
								Our mission is to provide under-resourced learners and educators in Africa with access to high-quality digital education to enable them to become agents and not objects in the Fourth Industrial Revolution.
							</p>


						</div>
						{# End | Text #}

					</div>
					{# End | Text container #}

				</div>
				{# End | Grid container #}

			</div>
		</div>

		{# Who we are styling #}
		<div class="bg-alf-blue shadow rounded-full h-20 -translate-y-[30rem] sm:-translate-y-[30rem] xl:-translate-y-24 lg:-translate-y-24 md:-translate-y-[30rem] -z-10 justify-center mx-5 md:mx-14 lg:mx-14 xl:mx-40 ">
			<div class="px-4 py-5 sm:p-6"></div>
		</div>
		{# End | Who we are styling #}


		{# What we do Band #}
		{# Outer container #}
			<div
			class="bg-alf-nav-blue rounded-b-4xl lg:rounded-b-5xl  translate-y-20"> {# Inner container #}

			{% set whatWeDoStyling = "/images/whatwedo_styling.png" %}
			<div class="flex flex-col justify-center items-center -translate-y-20">
				<img src="{{whatWeDoStyling}}">
			</div>

			<div
				class="max-w-7xl mx-auto px-6 pb-12 pt-16 sm:pt-20 sm:px-8 md:px-12 lg:px-16 lg:pt-28">

				{# Title #}
				<h2 class="font-rubik text-3xl text-center sm:text-3xl lg:text-3xl">WHAT WE DO</h2>

				{# Text #}
				<div class="flex flex-col items-center">

					<p class="mt-8 font-rubik text-alf-white text-xl max-w-3xl text-center">Our strength lies in teaching and learning in the STEM (Science,Technology,
																																				Engineering and Mathematics) fields at a high school level. We recognize our strengths
																																				and play to them by:</p>


				</div>

				{# What We Do Cards #}
				<div class="max-w-5xl mx-auto">


					{% set lock = "/images/lock.png" %}

					{# Content grid #}
					<div
						class="grid my-4 md:grid-cols-12 items-stretch font-rubik overflow-visible">


						{# Content container #}

						<div class="py-2 justify-self-start px-2 rounded-lg md:col-span-5 flex">

							<div class="flex-initial bg-alf-blue py-20 px-5 w-full rounded-l-xl">
								<img src="{{lock}}">
							</div>
							<div class="flex-initial pl-6 pr-6 pt-4 rounded-r-xl bg-alf-white">
								<h2 class="font-semibold pb-4">Future possibilities</h2>
								<p class="pb-4">Providing under-resourced learners with access to our exam preparation workshops to support them to achieve their best Matric results which open doors to tertiary study, scholarships and funding opportunities.</p>
							</div>

						</div>

						<div class="py-2 justify-self-start px-2 rounded-lg md:col-span-4 flex">

							<div class="flex-initial bg-alf-blue py-20 px-5 w-full rounded-l-xl">
								<img src="{{lock}}">
							</div>
							<div class="flex-initial pl-6 pr-6 pt-4 rounded-r-xl bg-alf-white">
						<h2 class="font-semibold pb-4">Future possibilities</h2>
								<p class="pb-4">Granting access to under-resourced learners to benefit from our online courses and online learning resources.</p>
							</div>

						</div>

						<div class="py-2 justify-self-start px-2 rounded-lg md:col-span-4 flex">

							<div class="flex-initial bg-alf-blue py-20 px-5 w-full rounded-l-xl">
								<img src="{{lock}}">
							</div>
							<div class="flex-initial pl-6 pr-6 pt-4 rounded-r-xl bg-alf-white">
						<h2 class="font-semibold pb-4">Future possibilities</h2>
								<p class="pb-4">Granting access to under-resourced learners to benefit from our online courses and online learning resources.</p>
							</div>

						</div>

						<div class="py-2 justify-self-start px-2 rounded-lg md:col-span-5 flex">

							<div class="flex-initial bg-alf-blue py-20 px-5 w-full rounded-l-xl">
								<img src="{{lock}}">
							</div>
							<div class="flex-initial pl-6 pr-6 pt-4 rounded-r-xl bg-alf-white">
								<h2 class="font-semibold pb-4">Future possibilities</h2>
								<p class="pb-4">Providing under-resourced learners with access to our exam preparation workshops to support them to achieve their best Matric results which open doors to tertiary study, scholarships and funding opportunities.</p>
							</div>

						</div>
						{# End | Content container #}

						{% set student = "/images/student.png" %}
					    <div class="py-2 self-center px-2 md:row-span-2 md:col-span-4 md:row-start-1 md:col-start-10 md:-translate-x-16 -z-10">
								<img src="{{student}}">
						</div>

					</div>
					{# End | Content grid #}
				</div>
				{# End | What We Do Cards #}


			</div>
			{# End | Inner container #}

		</div>
		{# End | Outer container #}
		{# End | What we do Band #}

	</main>
{% endblock %}
